@import "../variables.scss";

@mixin select-style($options) {
  $background: map-get($options, background);
  $border: map-get($options, border);
  $radius: map-get($options, radius);
  $height: map-get($options, height);
  $color: map-get($options, color);


  border-radius: $radius;
  background-color: $background;
  border: $border;
  height: $height;
  color: $color;
}

.default_select__layout {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  color: map-get($gray-colors, 100);

  cursor: pointer;
  white-space: nowrap;


  margin: 0;
  // text 선택 안되게 하는거
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;


  &.select_primary {
    width: 313px;
    padding: 0 14px 0;
    @include select-style((
            border: 1px solid map-get($primary-colors, 400),
            background: $white__color,
            radius: 8px,
            height: 54px,
            color: map-get($gray-colors, 100)
    ))
  }

  &.select_gray_border {
    width: 313px;
    padding: 0 14px 0;

    @include select-style((
            border: 1px solid map-get($gray-colors, 20),
            background: $white__color,
            radius: 8px,
            height: 54px,
            color: map-get($gray-colors, 100)
    ))
  }


  &.select_primary_half {
    width: 136px;
    padding: 0 14px 0;
    @include select-style((
            border: 1px solid map-get($primary-colors, 400),
            background: #FFE4EE66,
            radius: 8px,
            height: 54px,
            color: map-get($primary-colors, 800)
    ))
  }

  &.select_gray_border_half {
    width: 136px;
    padding: 0 14px 0;

    @include select-style((
            border: 1px solid map-get($gray-colors, 20),
            background: $white__color,
            radius: 8px,
            height: 54px,
            color: map-get($gray-colors, 100)
    ))
  }

  &.circle_select_primary_half {
    padding: 0 14px 0;
    @include select-style((
            border: 1px solid map-get($primary-colors, 400),
            background: #FFE4EE66,
            radius: 40px,
            height: 38px,
            color: map-get($primary-colors, 800)
    ))
  }

  &.circle_select_primary_border_half {
    padding: 0 14px 0;
    @include select-style((
            border: 1px solid map-get($primary-colors, 400),
            background: $white__color,
            radius: 40px,
            height: 38px,
            color: map-get($gray-colors, 100)
    ))
  }

  &.circle_select_gray_border_half {
    padding: 0 14px 0;

    @include select-style((
            border: 1px solid map-get($gray-colors, 20),
            background: $white__color,
            radius: 40px,
            height: 38px,
            color: map-get($gray-colors, 100)
    ))
  }


  &.circle_select_sub_half {
    padding: 0 14px 0;
    @include select-style((
            border: 1px solid map-get($sub-colors, 700),
            background: map-get($sub-colors, 700),
            radius: 40px,
            height: 38px,
            color: map-get($sub-colors, 50)
    ))
  }

  &.circle_select_sub_border_half {
    padding: 0 14px 0;

    @include select-style((
            border: 1px solid map-get($gray-colors, 20),
            background: $white__color,
            radius: 40px,
            height: 38px,
            color: map-get($gray-colors, 60)
    ))
  }

  &.circle_select_sub_border_half_selected {
    padding: 0 14px 0;

    @include select-style((
            border: 1px solid map-get($sub-colors, 700),
            background: $white__color,
            radius: 40px,
            height: 38px,
            color: map-get($sub-colors, 700)
    ))
  }



  &.radius_select_primary_half {
    padding: 0 14px 0;
    @include select-style((
            border: 1px solid map-get($primary-colors, 100),
            background: #FFE4EE66,
            radius: 15px,
            height: 52px,
            color: map-get($primary-colors, 800)
    ))
  }

  &.radius_select_gray_border_half {
    padding: 0 14px 0;

    @include select-style((
            border: 1px solid map-get($gray-colors, 20),
            background: $white__color,
            radius: 15px,
            height: 52px,
            color: map-get($gray-colors, 60)

    ))
  }








}

.default_select__layout__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.default_select__layout__text_center {
  justify-content: center;
}