


.my_page_setting__layout__divider {
  background-color: #F2F4F5;
  width: 100%;
  height: 8px;
}




.my_page_setting__layout__menu__divider {
  background: #F2F4F5;
  margin: 4px 0;
  height: 1px;
  width: 100%;
}

.my_page_setting__layout {
  padding: 16px;
}