.user_worry_detail__layout {
  overflow: scroll;
  height: calc(100dvh - 330px);


  &::-webkit-scrollbar {
    display: none;
  }


}


.user_hobby_detail__layout__select__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 10px;
}

.test_page__footer__inner__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.add_list_page__full__button {
  width: 100%;
  z-index: 3;
}

.test_page__footer__inner__button_box {
  width: 166px;
  z-index: 3;
}


.test_page__footer {
  width: 343px;
  height: 61px;
  position: fixed;
  bottom: 0;
  padding: 16px 16px 10px;
  background-color: #fff;
  box-shadow: 0px -8px 12px 0px #0000000A;
}
