main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  width: 375px;
  margin: 0 auto 0;
  border: 1px solid red;
  height: 100dvh;
  max-height: 812px;
}

.layout__space {
  padding: 16px;
  margin: 0;
  box-sizing: border-box;
  height: 100dvh;
  max-height: 812px;
}


