.user_hobby_detail__layout__main_title {
  width: 128px;

}

.user_hobby_detail__layout {
  overflow: scroll;
  height: calc(100dvh - 330px);


  &::-webkit-scrollbar {
    display: none;
  }


}

.user_hobby_detail__layout__select__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 10px;
}

.user_hobby_detail__layout__select {
}