.user_category__layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px 4px;
}



.user_category__layout__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_category__layout__content__image {
  width: 104px;
  height: 104px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #fff;

}

.image_border {
  border: 1px solid #FF2882;
}


.user_category__layout__content__check_image {
  position: absolute;
  margin: 4px 0 0 74px;
}