.user_category__layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 4px;
  height: calc(100dvh - 350px);
  overflow: scroll;
}



.user_category__layout__content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.user_category__layout__content__image {
  width: 104px;
  height: 104px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #fff;
}

.image_border {
  border: 1px solid #FF2882;
}

.user_category__layout__content__text {
}

.user_category__layout__content__check_image {
  position: relative;
  bottom: 100px;
  left: 35px;
  height: 0;
}

.user_category__layout__content__text_loading {
  width: 106px;
  height: 18px;
  background-color: #f2f4f5;
  border-radius: 4px;
}

.user_category__dialog_up {
  position: fixed;
  bottom: 100px;
  padding: 0;
  width: 375px;
  transform: translateX(-15px);
  height: 800px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.5s ease forwards; /* slideUp 애니메이션 적용 */

  //border: 1px solid red;
}


.user_category__dialog_down {
  position: fixed;
  bottom: 100px;
  padding: 0;
  width: 375px;
  transform: translateX(-15px);
  height: 0px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.5s ease forwards; /* slideUp 애니메이션 적용 */

  //border: 1px solid red;
}


