.letter__box__layout {
  width: 343px;
  height: 176px;
  border-radius: 16px;
  background-color: #fff;

  &__image {
    overflow: hidden;
    height: 118px;
    border-radius: 16px 16px 0 0;
  }
}

.letter__box__layout__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px;

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
