.small__product__layout {
  width: 106px;
  max-height: 226px;
  border-radius: 8px;
}

.small__product__layout__image_wrapper {
  width: 102px;
  height: 102px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 12px 1px #00000014 inset;
  background-color: #FEBAD4;
}


.small__product__checked_icon {
  position: relative;
  height: 0;
  transform: translateX(77px) translateY(4px);
}

.small__product__checked_icon_heart {
  position: relative;
  height: 0;
  transform: translateX(77px) translateY(74px);
}