.small__product__layout {
  width: 106px;
  max-height: 226px;
  border-radius: 8px;
}

.small__product__layout__image_wrapper {
  width: 106px;
  height: 106px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 12px 1px #00000014 inset;
  background-color: #FEBAD4;

}
