


.text__section {
  margin: 74px 0 0;
  text-align: center;

  &__content {
    margin: 10px 0 0;

  }

  &__image {
    margin: 10px;
  }
}


.history__button__section {
  margin: 8px auto 0;
  max-width: 207px;
}

.none__history {
  margin: 59px 0 0;
}

.button__section {
  margin: 18px auto 0;

}

.login__footer {
  text-align: center;
  margin: 74px 0 0;

  &__text {
    margin: 4px 0 0;
  }

}
